/* import google web fonts, available from www.google.com/fonts */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico', cursive;
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-family: 18px;
}

p {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight; normal;
  padding: 20px 0px 0px 0px;    
}

.navbar {
  background-color: #ffffff;
}
a.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: #cc0000;
}

a.navbar-brand:hover {
  font-family: 'Pacifico', cursive;
  color: #990000;
}
a {    
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 12px;
}
a:hover {
  text-decoration: underline;
  color: #222222;
}
span {
  font-family: 'Oswald', Helvetica, Arial, sans-serif; 
  font-size: 18px;
}
#footer {
  background-color: #666666;    
  padding: 50px 0px 0px 50px;
  color: #ffffff;
}
#footer a{
  color: #ffffff;
  font-size: 16px;
}
#copyright {
  margin: 10px 0px 0px 10px;
}
#homeHeader {
  background-image: url('../img/business-q-c-1920-480-2.jpg');
  padding: 150px 0px 120px 0px;
}
#homeBannerOne {
  background-image: url('../img/business-q-c-1920-480-2.jpg');
  padding: 100px 0px 100px 0px;
}
#homeBannerTwo {
  background-image: url('http://placehood.it/1290x480');
  padding: 100px 0px 100px 0px;    
}
#pageOneHeader {
  background-image: url('../img/business-q-c-1920-480-2.jpg');
  padding: 100px 0px 100px 0px;
}
#footerBrandLogo {
  width: 75%;
  height: 75%;
}
#connect {
  background-image: url('../img/city-q-g-1920-480-4.jpg');    
  padding: 100px 0px 100px 0px;
}
#copyright {
  padding: 0px 0px 10px 0px;    
}